@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #b9a127;
  --main-color-rgb: 185, 161, 39;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}

body {
  @apply font-sans;
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.custom_scale div:hover{
  img{
    transform: scale(1.08);
  }
}

