@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #b9a127;
  --main-color-rgb: 185, 161, 39;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}

body {
  @apply font-sans;
  background: var(--background);
  color: var(--foreground);
}


