@import "tailwindcss";

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Dark Mode Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #193779;
  --main-color-rgb: #10244f;
}

body{
  @apply bg-[#EEE]
}
/* Dark mode updates variables only */
.dark {
  --background: #101828; /* لون الخلفية في الدارك مود */
  --foreground: #f5f5f5; /* لون الكتابة */
}

/* Tailwind Dark Variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}

/* Global Body Style */
body {
  @apply font-sans;
  background: var(--background);
  color: var(--foreground);
}

/* Fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

/* Hover scale */
.custom_scale div:hover img {
  transform: scale(1.08);
}

/* Language button hover */
.language-btn-hover:hover {
  background-color: #374151 !important;
  color: #e5e7eb !important;
}

/* Custom hover color */
.custom_hover:hover {
  transition: 0.3s;
  background-color: #193cb8;
}
